html, body {
    background-color: #232730;
}

#mainHeader {
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
}

.header, #mainHeader {
    color:white
}

.text
{
    color: rgb(165, 159, 159);
}

ul .text {
    margin-bottom: 1em;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

